# Local Environment
.venv/
__pycache__/
*.py[cod]

# Secret / Local variables
.env
.env*

# macOS junk
.DS_Store

# Streamlit (optional local credentials)
.streamlit/secrets.toml
.streamlit/config.toml
